.section_one {
    margin-top: 700px;
    text-align: center;
}

.section_one_item {
    text-align: left;
    align-items: flex-start;
    padding-left: 150px !important;
}

.section_one h1 {
    position: relative;
    width: 788px;
    height: 60px;
    left: calc(50% - 788px/2);
    top:-10px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    color: #000000;
}
.section_one h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #000000;
}
.section_one p{
    line-height: 160%;
    margin-top:-20px;
}
.section_one_image_section {
    margin-top: 20px;
    margin-bottom:-20px;
}